.delivery-container {
  padding-top: 80px;
}

.delivery-bg {
  padding: 0;
  background-color: var(--beige);
  background-image: url(../../img/delivery/mobile/bg.png);
  background-size: 100%;
  background-position: center;
  border-radius: 40px;
}

.delivery-bg-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 80px;
  gap: 40px;
}

.delivery-bg-svg {
  width: 296px;
  height: 172px;
  background-image: url(../../img/delivery/illustration.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-h2 {
  display: block;
  max-width: 290px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.96px;
  text-transform: uppercase;

  color: var(--black);
}

.delivery-span-first {
  color: var(--green);
  font-style: italic;
}

.delivery-span-second {
  color: var(--orange);
  font-style: italic;
}

@media screen and (min-width: 768px) {

  .delivery-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }



  .delivery-bg {
    background-image: url(../../img/delivery/tablet/bg.png);
  }

  .delivery-bg-content {
    padding: 40px 80px;
  }

  .delivery-bg-svg {
    width: 544px;
    height: 318px;
  }

  .delivery-h2 {
    max-width: 544px;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
  }
}

@media screen and (min-width: 1280px) {
  .delivery-container {
    padding-top: 124px;
    padding-bottom: 124px;
  }




  .delivery-bg {
    background-color: var(--beige);
    background-image: url(../../img/delivery/desktop/bg.svg);
  }

  .delivery-bg-content {
    display: flex;
    flex-direction: row;
    padding: 64px;
    gap: 73px;
  }

  .delivery-bg-svg {
    width: 578px;
    height: 340px;
    background-image: url(../../img/delivery/illustration.svg);
  }

  .delivery-h2 {
    max-width: 434px;
    font-size: 40px;
    text-align: start;
    line-height: 1.1;
    letter-spacing: -1.6px;
  }
}