.delivery {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    column-gap: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  /* .delivery-bg {
    display: flex;
    flex-direction: column;
    background-image: url(../../img/delivery/bg.png);
    background-color: #FAF3E7;
    background-size: 100%;
    background-position: center;
    border-radius: 40px;
    width: 100%;
    padding-top: 31px;
    padding-left: 20px;
    padding-right: 20px;
  } */
  
.delivery-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    border-radius: 40px;
    pointer-events: none;
    z-index: -1;
}

.delivery-bg-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 80px;
  gap: 40px;
}

.delivery-bg-svg {
  width: 335px;
  height: 484px;
}

.delivery-h2 {
  color: #141414;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.96px;
  text-transform: uppercase;
}

.delivery-span-first {
  color: #a1c487;
  font-style: italic;

}

.delivery-span-second {
  color: #fc8a11;
  font-style: italic;

}
