.footer-bg {
  background-color: var(--light-green);
}

.footer-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-image {
  margin-bottom: 20px;
  border-radius: 100px;
}

.block-tablet-left {
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 335px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  color: var(--black);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover,
.link-footer:focus {
  color: var(--green);
}

.link-footer {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  color: var(--green);
}

.logo {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.menu-nav-item {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
  color: var(--black);
}

.footer-social-list {
  justify-content: space-between;
  max-width: 160px;
  display: flex;
  margin-bottom: 40px;
  gap: 20px;
  margin-right: auto;
  margin-left: auto;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid var(--black);
}

.footer-social-icon {
  opacity: 0.8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  fill: var(--green);
}

.footer-social-link:hover,
.footer-social-link:focus {
  border-color: var(--green);
}

.address-text:hover,
.address-text:focus {
  color: var(--green);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}








.address-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.wrap-logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.address-item {
  max-width: 135px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.address-tel {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-transform: uppercase;
  color: var(--black);
}

.address-text {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.28px;
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  .footer-container-left {
    display: flex;
    flex-direction: column;
  }

  .footer-social-list {
    margin-left: 0;
  }



  .logo {
    max-width: 349px;
  }

  .menu-nav {
    margin-bottom: 0;
  }

  .block-tablet-rigth {
    display: flex;
    flex-direction: column;
  }

  .address-item {
    max-width: 184px;

    margin-bottom: 20px;
    text-align: start;
  }


  .address-tel {
    font-size: 18px;
    line-height: 1.33;
  }

  .address-text {
    width: 173px;
    text-align: start;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  .footer-container-left {
    flex-direction: row;
    justify-content: space-between;
    gap: 166px;
  }

  .menu-nav {
    margin-top: 0;
  }

  .footer-nav {
    display: flex;
    align-items: center;
  }

  .block-tablet-rigth {
    margin-right: 142px;
  }
}