.header-bg {
  background-color: var(--white);
}

.header-container {
  max-width: 375px;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  align-items: center;
  margin: 0 auto;


}

.container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.header-nav {
  display: none;
}

.header-btn-order {
  display: none;
}

.header-logo-icon {

  fill: var(--green);
}

.header-logo {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--black);

}

.header-nav-menu-item:hover,
.header-nav-menu-item:focus {
  background-color: transparent;
  color: var(--green);
}


.header-logo:hover,
.header-logo:focus {
  color: var(--green);
  background-color: var(--white);
}



.burger-btn {
  display: block;
  align-items: center;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.burger-btn-icon {
  fill: var(--green);
}

.burger-btn:hover,
.burger-btn:focus {
  background-color: transparent;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--green);
}

.wrap-header {
  background-color: transparent;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 13px;
  right: 32px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  line-height: 0;
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: transparent;
}

.mobile-menu-close-icon {
  stroke: #77ac63;
}

.header-logo {
  background-color: var(--white);

  padding-top: 16px;
  padding-bottom: 16px;
}

.mobile-menu-nav-list {
  text-align: center;
  padding-top: 124px;
}

.mobile-menu-nav-list-item:not(:last-child) {
  margin-bottom: 16px;
}

.mobile-menu-nav-list-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
  color: var(--white);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-list-link:hover,
.mobile-menu-nav-list-link:focus {
  background-color: transparent;
  color: var(--white);
}

.header-mobile-btn-order {
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding: 0;
}

.header-menu-btn-order-icon {
  stroke: var(--white);
  fill: var(--green);
  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header-container {
    min-width: 768px;
    margin: 0 auto;
    padding: 0 32px;
  }


  .burger-btn {
    display: none;
  }

  .header-block-left {
    display: flex;
  }

  .header-nav {
    display: flex;
  }

  .header-nav-menu {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-right: 86px;
  }

  .header-nav-menu-item {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.56px;
    color: var(--black);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-btn-order {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-left: auto;
    background-color: transparent;
  }

  .header-btn-order-icon {
    stroke: var(--black);
    fill: var(--white);
    transition-property: stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-btn-order:hover,
  .header-btn-order:focus,
  .header-btn-order-icon:hover,
  .header-btn-order-icon:focus {
    background-color: transparent;
    color: var(--green);
    stroke: var(--green);
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1280px;
  }

  .header-block-left {
    width: 668px;
    justify-content: space-between;
  }

  .header-nav-menu {
    gap: 20px;
  }

  .header-btn-order {
    width: 24px;
    height: 24px;
  }



}