/* .container {
    padding-top: 80px;
} */
/* .container>.hiw-order {
    padding-top: 80px;
} */
.hiw-order {
    padding-top: 80px;
}

.section-hiw {
    padding-top: 80px;
}

@media screen and (max-width: 767px) {
    .hiw-buystep {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hiw-buystep-num {
        padding: 10px 17px;
    }
}

.hiw-order {
    display: flex;
    flex-wrap: wrap;
}

.hiw-header {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    /* 114.286% */
    letter-spacing: -1.12px;
    text-transform: uppercase;
}

.hiw-header-small {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.96px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.hiw-broccoli {
    width: 335px;
    height: 158px;
    margin-bottom: 20px;
}

.hiw-list-items {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.56px;
}

.hiw-list-items:nth-child(1) {
    margin-bottom: 20px;
}

.section-hiw {
    /* padding-top: 80px; */
    padding-bottom: 0;
}

.hiw-buystep {
    position: relative;
    border-radius: 40px;
    background: var(--beige);
}

.hiw-buystep-background {
    display: none;
}

.hiw-imggirl {
    width: 258px;
    height: 319px;
}

.hiw-steps-item {
    display: flex;
    align-items: center;
    gap: 14px;

}

.hiw-min-text {
    width: 166px;
}

.hiw-buystep-list {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 275px;
    flex-direction: column;
    row-gap: 20px;
}

/* .hiw-buystep-list-items {
    margin-right: 45px;
} */

.hiw-background {
    background-image: url(../../img/how-it-works/mobile/BG.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: repeat;
    top: 0;
    left: 0;
    border-radius: 40px;
    pointer-events: none;
}

.hiw-buystep-num {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50%;
    background: var(--green);
}

@media screen and (min-width: 768px) {
    .hiw-order {
        padding-top: 100px;
        padding-bottom: 0px;
        justify-content: space-between;
    }

    .section-hiw {
        padding-top: 100px;
    }

    .hiw-broccoli {
        width: 310px;
        height: 176px;
        margin-bottom: 40px;
    }

    .hiw-header {
        width: 370px;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.1;
        /* 110% */
        letter-spacing: -1.6px;
    }

    .hiw-order-list {
        display: flex;
        gap: 20px;
        margin-right: 88px;
    }

    .hiw-list-items {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.13;
        /* 133.333% */
        letter-spacing: -0.72px;
    }

    .hiw-list-items:nth-child(1) {
        margin-bottom: auto;
        width: 317px;
        height: 96px;
    }

    .hiw-list-items:nth-child(2) {
        width: 279px;
        height: 72px;
    }

    .hiw-buystep {
        position: relative;
        display: flex;
        align-items: end;
        border-radius: 80px;
        padding-top: 40px;
        padding-right: 40px;
    }

    .hiw-background {
        background-image: url(../../img/how-it-works/tablet/BG.png);
        background-repeat: no-repeat;
        border-radius: 80px;
    }

    .hiw-imggirl {
        width: 350px;
        height: 446px;
    }

    .hiw-buystep-text {
        width: 274px;
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .hiw-buystep-list {
        width: 274px;
    }

    /* .hiw-buystep-list-items {
        margin-right: 39px;
    } */

    .hiw-header-small {
        font-size: 28px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -1.12px;
    }

    .hiw-buystep-num {
        padding: 10px 20px;
        width: 46px;
        height: 44px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.72px;
    }

    .hiw-steps-item {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.28;
        letter-spacing: -0.56px;
    }
}

@media screen and (min-width: 1280px) {
    .hiw-order {
        padding-top: 124px;
    }

    .section-hiw {
        padding-top: 124px;
    }

    .hiw-broccoli {
        width: 410px;
        height: 170px;
    }

    .hiw-header {
        width: 604px;
        letter-spacing: -1.92px;
        margin-bottom: 40px;
        font-size: 48px;
        line-height: 1.04;
        /* 104.167% */
    }

    .hiw-order-list {
        max-width: 687px;
        gap: 0;
    }

    .hiw-list-items:nth-child(1) {
        margin-bottom: auto;
        width: 353px;
        height: 96px;
    }

    .hiw-list-items:nth-child(2) {
        width: 279px;
        height: 72px;
    }

    .hiw-list-items:last-child {
        margin-left: 40px;
    }

    .hiw-imggirl {
        width: 434px;
        height: 420px;
    }

    .hiw-buystep {
        justify-content: center;
        gap: 110px;
        padding-top: 40px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .hiw-background {
        background-image: url(../../img/how-it-works/desktop/BG.png);
    }

    .hiw-buystep-text {
        width: auto;
        width: 512px;
        padding-left: 0px;
    }

    .hiw-header-small {
        font-size: 40px;
        font-weight: 500;
        line-height: 1.1;
        /* 110% */
        letter-spacing: 0.5px;
    }

    .hiw-buystep-list {
        margin-left: 0px;
        margin-right: 0px;
        min-width: 349px;
    }

    .hiw-steps-item {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.28;
        /* 128.571% */
        letter-spacing: -0.56px;
    }

    .hiw-buystep-list-items {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.28;
        /* 128.571% */
        letter-spacing: -0.56px;
        margin: 0;
    }
}