.callback-container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.callback-from-container {
  text-align: center;
  justify-content: center;
}

.callback-form {
  display: block;
  width: 100%;
  max-width: 335px;
}

.callback-h2 {
  max-width: 320px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.96px;
  text-transform: uppercase;
}

.callback-p {
  max-width: 320px;
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
}

.callback-label {
  width: 100%;
}

.callback-label-input {
  width: 100%;
  height: 48px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #C1BDBD;

  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border-radius: 100px;
  border: 1px solid #C1BDBD;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.callback-img-bg {
  display: flex;
  justify-content: center;
  background-image: url(../../img/BG.png);
  /* background-image: url(../../img/we-will-call-you/bg-we-will-call-you.png); */
  max-width: 335px;
  background-color: var(--light-green);
  background-size: auto;
  background-position: center;
  border-radius: 40px;
  width: 100%;
}

.callback-img {
  border-radius: 50px;
  display: block;
  max-width: 100%;
  height: auto;
}

/* ============= BUTTON ============= */

.input-wrapper {
  position: relative;
  height: 48px;
}

.recall-btn {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100px;
  background-color: var(--orange);
  padding: 15px 35px;
  z-index: 3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.recall-btn:hover,
.recall-btn:focus {
  background-color: var(--green);
  color: var(--black);
}

/* ============= MEDIA ============= */

@media screen and (min-width: 768px) {
  .callback-container {

    padding-top: 0px;
    padding-bottom: 124px;
    gap: 80px;
  }

  .input-wrapper {
    max-width: 350px;
  }

  .callback-form {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .callback-p {
    max-width: 499px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }

  .callback-h2 {
    max-width: 488px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    letter-spacing: -1.6px;
    line-height: 1.1;
  }

  .callback-img-bg {

    max-width: 704px;
  }
}

@media screen and (min-width: 1280px) {


  .callback-h2 {
    margin-left: 0;
  }



  .callback-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 124px;

  }

  .callback-img-bg {
    background-image: url(../../img/BG.png);

    display: flex;
    justify-content: center;
    max-width: 1280px;
    background-color: var(--light-green);
    background-size: auto;
    background-position: center;
    border-radius: 40px;
    width: 100%;
  }

  .callback-form {
    max-width: 350px;
    margin-left: 0;
  }

  .input-wrapper {
    max-width: 350px;
  }

  .callback-p,
  .callback-h2 {
    padding-left: 0;
    text-align: left;
  }

  .left-column {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-top: 20px;
  }

  .callback-img-bg {
    max-width: 524px;
  }

  .callback-img {
    width: 524px;
  }

  .right-column {
    margin-top: 0px;
  }
}