<section class="section">
    <div class="adment">
        <h2 class="hidden">Discount up to 40%! Taste the vitamins and keep your health</h2>
        <div class="adment-orange-text">
            <p class="adment-header-line-top-run">Discount up to
                <span class="adment-span-40">40%!</span> &nbsp;
                Taste <span class="adment-vitamins">the vitamins</span> and keep your health
            </p>
            <p class="adment-header-line-top-run">Discount up to
                <span class="adment-span-40">40%!</span> &nbsp;
                Taste <span class="adment-vitamins">the vitamins</span> and keep your health
            </p>
        </div>
        <div class="adment-green-text">
            <p class="adment-header-line-bottom-run ">Discount up to
                <span class="adment-span-40">40%!</span> &nbsp;
                Taste <span class="adment-vitamins">the vitamins</span> and keep your health
            </p>
            <p class="adment-header-line-bottom-run">Discount up to
                <span class="adment-span-40">40%!</span> &nbsp;
                Taste <span class="adment-vitamins">the vitamins</span> and keep your health
            </p>
        </div>
    </div>
</section>