<section class="delivery">
  <div class="delivery-bg">
    <picture class="delivery-bg-image">
      <!-- <source srcset="../img/vegetables/desktop/carrot.png 1x, ../img/vegetables/desktop/carrot@2x.png 2x"
        media="(min-width: 1280px)" width="1216" height="465">
      <source srcset="../img/vegetables/mobile/carrot.png 1x, ../img/vegetables/mobile/carrot@2x.png 2x"
        media="(min-width: 768px)" width="704" height="534">
      <source srcset="../img/vegetables/mobile/carrot.png 1x, ../img/vegetables/mobile/carrot@2x.png 2x"
        media="(max-width: 767px)" width="335" height="484"> -->
      <img class="delivery-img" src="../img/delivery/mobile/bg.jpg" alt="Courier giving order to a customer">
    </picture>
  </div>
    <div class="delivery-bg-content">
      <svg class="delivery-bg-svg">
        <use href="../img/delivery/illustration.svg"></use>
      </svg>
      <h2 class="delivery-h2">The best shipping for you! <span class="delivery-span-first">Your products</span> always
        arrive in the <span class="delivery-span-second">best</span> conditions!</h2>

  </div>
</section>