<footer class="footer-bg">
  <div class="container footer-container">
    <div class="footer-container-left">
      <div class="block-tablet-left">
        <picture>
          <source srcset="
              ./img/footer/footer-tablet-dekstop.jpg    1x,
              ./img/footer/footer-tablet-dekstop@2x.jpg 2x
            " media="(min-width: 768px)" />
          <source srcset="
              ./img/footer/footer-mobile.jpg    1x,
              ./img/footer/footer-mobile@2x.jpg 2x
            " media="(max-width: 767px)" />
          <img class="footer-image" src="./img/footer/footer-mobile.jpg" alt="photo vegetables" />
        </picture>
        <div class="wrap-logo-footer">
          <a class="logo link" href="./index.html">
            <svg class="logo-icon" width="16" height="16" aria-label="veggieboost logo">
              <use href="./img/sprite.svg#icon-logo"></use>
            </svg>
            &nbsp;&nbsp;veggieboost
          </a>
        </div>
      </div>
      <nav class="footer-nav">
        <ul class="menu-nav list">
          <li>
            <a href="./index.html#how-it-works" class="menu-nav-item link-footer link">How It Works</a>
          </li>
          <li>
            <a href="./index.html#vegetables" class="menu-nav-item link-footer link">Vegetables</a>
          </li>
          <li>
            <a href="./index.html#contacts" class="menu-nav-item link-footer link">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="block-tablet-rigth">
      <ul class="footer-social-list list">
        <li class="footer-social-item">
          <a class="footer-social-link" href="">
            <svg class="footer-social-icon" width="24" height="24" aria-label="facebook icon">
              <use href="./img/sprite.svg#icon-face-book"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-link" href="">
            <svg class="footer-social-icon" width="24" height="24" aria-label="instagram icon">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-link" href="">
            <svg class="footer-social-icon" width="24" height="24" aria-label="youtube icon">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="address" id="contacts">
        <ul class="address-list list">
          <li class="address-item">
            <a class="address-tel link-footer link" href="tel:+380684439426">+380 (68) 443-94-26</a>
          </li>

          <li class="address-item">
            <a class="address-text link" href="https://goo.gl/maps/uPh3576bcqRT8v7D9" target="_blank"
              rel="noopener noreferrer">1678 S. Pioneer Road Salt Lake City <br />UT 84104</a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>