<header class="header-bg  ">
  <div class="header-container ">
    <div class="header-block-left">
      <nav class="header-nav">
        <ul class="header-nav-menu list">
          <li>
            <a href="./index.html#how-it-works" class="header-nav-menu-item link">How It Works</a>
          </li>
          <li>
            <a href="./index.html#vegetables" class="header-nav-menu-item link">Vegetables</a>
          </li>
          <li>
            <a href="./index.html#contacts" class="header-nav-menu-item link">Contacts</a>
          </li>
        </ul>
      </nav>
      <a class="header-logo link" href="./index.html">
        <svg class="header-logo-icon" width="16" height="16" aria-label="header veggieboost logo">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
        &nbsp;&nbsp;veggieboost
      </a>
    </div>
    <button type="button" class="burger-btn js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="burger-btn-icon" width="24" height="24" aria-label="open mobile menu icon">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <button type="button" class="header-btn-order" data-modal-open>
      <svg class="header-btn-order-icon" width="20" height="20" aria-label="open order icon">
        <use href="./img/sprite.svg#icon-shopping"></use>
      </svg>
    </button>
  </div>

  <!-- MODILE MENU -->
  <div class="mobile-menu js-menu-container" id="mobile-menu">

    <div class="wrap-header">
      <button class="mobile-menu-close-btn js-close-menu" type="button">
        <svg class="mobile-menu-close-icon" width="24" height="24" aria-label="close mobile menu icon">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <a class="header-logo link" href="./index.html">
        <svg class="header-logo-icon" width="16" height="16" aria-label="header veggieboost logo">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
        &nbsp;&nbsp;veggieboost
      </a>


    </div>



    <nav class="mobile-menu-navigation">
      <ul class="mobile-menu-nav-list list">
        <li class="mobile-menu-nav-list-item">
          <a href="./index.html#how-it-works" class="mobile-menu-nav-list-link link js-nav-ref">How It Works</a>
        </li>
        <li class="mobile-menu-nav-list-item">
          <a href="./index.html#vegetables" class="mobile-menu-nav-list-link link js-nav-ref">Vegetables</a>
        </li>
        <li class="mobile-menu-nav-list-item">
          <a href="./index.html#contacts" class="mobile-menu-nav-list-link link js-nav-ref">Contacts</a>
        </li>
        <li class="mobile-menu-nav-list-item">
          <button type="button" class="header-mobile-btn-order mobile-menu-nav-list-link link" data-modal-open="">
            <svg class="header-menu-btn-order-icon" width="20" height="20" aria-label="open order icon">
              <use href="./img/sprite.svg#icon-shopping"></use>
            </svg>
          </button>
        </li>
      </ul>
    </nav>

  </div>
</header>