<header class="header">
  <div class="container header-container" >
     <nav class="mob-header-nav">
        <ul class="mob-nav-list list">
          <li class="mob-nav-list-item">
            <a href="#about" class="mob-nav-list-item-link link js-mob-nav-list"
              >How it Work</a
            >
          </li>
          <li class="mob-nav-list-item">
            <a
              href="#catalog"
              class="mob-nav-list-item-link link js-mob-nav-list"
              >Vegetables</a
            >
          </li>
          <li class="mob-nav-list-item">
            <a href="#sale" class="mob-nav-list-item-link link js-mob-nav-list"
              >Contacts</a
            >
          </li>
        </ul>
        <button type="button" width="24px" height="24px" >
          <svg class="vizok">
          <use href="../img/sprite.svg#icon-shopping" width="24px" height="24px"></use>
          </svg>
        </button>
    
    <a href="./index.html" class="header-logo">
      <svg class="header-logo-svg" width="24px" height="24px">
        <use href="../img/sprite.svg#icon-logo"></use>
      </svg>
      <h2>Veggieboost</h2> 
    </a>
    <button
      type="button"
      class="header-menu-btn btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="24" height="24">
        <use href="../img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <div class="mob-menu js-menu-container" id="mobile-menu">
      <div class="mob-menu-header">
        <div class="container header-container">
    <a href="./index.html" class="header-logo">
      <svg class="header-logo-svg" width="24px" height="24px">
        <use href="../img/sprite.svg#icon-logo"></use>
      </svg>
      Veggieboost
    </a>
    <button
      type="button"
      class="header-menu-btn btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >

        
        <button type="button" class="mob-close-btn js-close-menu">
          <svg class="mob-icon-close" width="24px" height="24px">
            <use href="../img/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <button type="button" ></button>
    </div>
  </div>
</header>
