<section class="section hero" id="organic">
  <div class="container hero container-hero">
    <div class="hero-left-side">
      <ul class="list user-items">
        <li class="user-item">
          <picture>
            <source srcset="./img/hero-desktop/desktop-user-03.png 1x, ./img/hero-desktop/desktop-user-03@2x.png 2x"
              media="(min-width: 1280px)" width="66" />
            <source srcset="./img/hero-tablet/tablet-user-03.png 1x, ./img/hero-tablet/tablet-user-03@2x.png 2x"
              media="(min-width: 768px)" width="50" />
            <source srcset="./img/hero-mobile/mobile-user-03.png 1x, ./img/hero-mobile/mobile-user-03@2x.png 2x"
              media="(max-width: 767px)" width="44" />
            <img class="img-clean" src="./img/hero-mobile/mobile-user-03.png " alt="application" width="44" />
          </picture>
        </li>

        <li class="user-item">
          <picture>
            <source srcset="./img/hero-desktop/desktop-user-02.png 1x, ./img/hero-desktop/desktop-user-02@2x.png 2x"
              media="(min-width: 1280px)" width="66" />
            <source srcset="./img/hero-tablet/tablet-user-02.png 1x, ./img/hero-tablet/tablet-user-02@2x.png 2x"
              media="(min-width: 768px)" width="50" />
            <source srcset="./img/hero-mobile/mobile-user-02.png 1x, ./img/hero-mobile/mobile-user-02@2x.png 2x"
              media="(max-width: 767px)" width="44" />
            <img class="img-clean" src="./img/hero-mobile/mobile-user-02.png " alt="application" width="44" />
          </picture>
        </li>
        <li class="user-item">
          <picture>
            <source srcset="./img/hero-desktop/desktop-user-01.png 1x , ./img/hero-desktop/desktop-user-01@2x.png 2x"
              media="(min-width: 1280px)" width="66" />
            <source srcset="./img/hero-tablet/tablet-user-01.png 1x , ./img/hero-tablet/tablet-user-01@2x.png 2x"
              media="(min-width: 768px)" width="50" />
            <source srcset="./img/hero-mobile/mobile-user-01.png 1x , ./img/hero-mobile/mobile-user-01@2x.png 2x"
              media="(max-width: 767px)" width="44" />
            <img class="img-clean" src="../img/hero-mobile/mobile-user-01.png " alt="application" width="44" />
          </picture>
        </li>
        <li class="reviews-count">
          <p class="review-cointing">2k</p>
          <p class="reviews">reviews</p>
        </li>
      </ul>
      <h1 class="hero-title">organic <span class="hero-span">vegetables </span>to your diet today!</h1>
      <p class="hero-text">Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables
        available. Fresh
        Harvest
        Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.
      </p>
      <button class="hero-btn" data-modal-open>shop now</button>

    </div>


    <div class="hero-right-side">
      <div class="bcg-client">
        <picture>

          <source srcset="./img/hero-desktop/desktop-hero.webp 1x  , ./img/hero-desktop/desktop-hero.webp 2x"
            type="image/webp" />

          <source srcset="./img/hero-desktop/desktop-hero.png 1x , ./img/hero-desktop/desktop-hero@2x.png 2x" />

          <img class="img-hero" src="./img/desktop-hero.png " alt="application" width="303">
        </picture>

      </div>
      <ul class="list hero-list">

        <li class="hero-list-item ">
          <a href="#organic" class="link hero-list-link first-menu">#organic</a>
        </li>
        <li class="hero-list-item ">
          <a href="#how-it-works" class="link hero-list-link">#products</a>
        </li>
        <li class="hero-list-item ">
          <button type="button" class="link hero-list-link btn-basket" data-modal-open>#basket</button>
        </li>
        <li class="hero-list-item ">
          <a href="#vegetables" class="link hero-list-link">#vegetables</a>
        </li>
      </ul>

    </div>

  </div>
</section>