<section class="section hero">
  <div class="container hero">
    <ul class="list">
      <li><img src="" alt="img"></li>
      <li><img src="" alt="img"></li>
      <li><img src="" alt="img"></li>
      <li><img src="" alt="img"></li>
    </ul>
    <h1 class="hero-title">organic <span class="hero-span">vegetables</span>to your diet today!</h1>

    <p class="hero-text">Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables
      available. Fresh
      Harvest
      Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.
    </p>
    <button class="hero-btn">shop now</button>
    <div class="bcg-client">
      <picture>



        <source srcset="../img/desktop-hero.png 1x , ../img/desktop-hero@2x.png 2x," media="(min-width: 1280px)"
          width="517px" />



        <source srcset="../img/tablet-hero.png 1x , ../img/desktop-hero@2x.png 2x," media="(min-width: 768px)"
          width="488px" />



        <source srcset="../img/mobile-hero.png 1x , ../img/desktop-hero@2x.png 2x," media="(max-width: 767px)"
          width="303px" />

        <img class="img-clean" src="../img/desktop-hero.png " alt="application" width="303px">
      </picture>

    </div>
    <ul class="list">
      <li class="hero-link">
        <a href="" class="link">#organic</a>
        <a href="" class="link">#products</a>
        <a href="" class="link">#basket</a>
        <a href="" class="link">#vegetables</a>
      </li>
    </ul>
  </div>
</section>