<section id="how-it-works" class="section">
    <div class="container hiw-order">
        <h2 class="hiw-header">To order your vegetable basket, simply follow these easy steps</h2>
        <!-- <div class="hiw-broccoli"></div> -->
        <picture class="hiw-broccoli">
            <source 
            srcset="./img/how-it-works/desktop/img-vegetables.png 1x, ./img/how-it-works/desktop/img-vegetables@2x.png 2x" media="(min-width: 1280px)">
            <source 
            srcset="./img/how-it-works/tablet/img-vegetables.png 1x, ./img/how-it-works/tablet/img-vegetables@2x.png 2x" media="(min-width: 768px)">
            <source 
            srcset="./img/how-it-works/mobile/img-vegetables.png 1x, ./img/how-it-works/mobile/img-vegetables@2x.png 2x" media="(max-width: 767px)">
            <img src="./img/how-it-works/mobile/img-vegetables.png" alt="broccoli">
        </picture>
            <ul class="hiw-order-list list">
                <li class="hiw-list-items">Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit without ever leaving your home. </li>
                <li class="hiw-list-items">Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</li>
            </ul>
    </div>
</section>
<section class="container section-hiw">
    <div class="hiw-buystep">
        <div class="hiw-background"></div>
        <picture class="hiw-imggirl">
            <source 
            srcset="./img/how-it-works/desktop/img-girl.png 1x, ./img/how-it-works/desktop/img-girl@2x.png 2x" media="(min-width: 1280px)">
            <source 
            srcset="./img/how-it-works/tablet/img-girl.png 1x, ./img/how-it-works/tablet/img-girl@2x.png 2x" media="(min-width: 768px)">
            <source 
            srcset="./img/how-it-works/mobile/img-girl.png 1x, ./img/how-it-works/mobile/img-girl@2x.png 2x" media="(max-width: 767px)">
            <img src="./img/how-it-works/mobile/img-girl.png" alt="girl">
        </picture>
        <div class="hiw-buystep-text">
            <h3 class="hiw-header-small">3 Easy Steps for Buying Fresh Vegetables</h3>
            <ol class="hiw-buystep-list">
                <li class="hiw-steps-item">
                    <span class="hiw-buystep-num">1</span>
                    <p class="hiw-buystep-list-items">Just choose the vegetable you want to order by clicking on the checkboxes next to it.</p>
                </li>
                <li class="hiw-steps-item">
                    <span class="hiw-buystep-num">2</span>
                    <p class="hiw-buystep-list-items hiw-min-text">Click on the basket and fill out the form.</p>
                </li>
                <li class="hiw-steps-item">
                    <span class="hiw-buystep-num">3</span>
                    <p class="hiw-buystep-list-items">Sit back and relax! Your fresh vegetables basket will be delivered.</p>
                </li>
            </ol>
        </div>
    </div>
</section>