<!--Modal Window-->
<div class="backdrop is-hidden" data-modal="">
   <div class="modal-window">
      <div class="modal-content">
         <!--Modal title-->
         <h2 class="visually-hidden modal-title">YOUR ORDER</h2>
         <!--Modal cards-->
         <ul class="modal-card-container">
            <li class="modal-card list">
               <div class="modal-item">
                  <h2 class="modal-card-title">Cabbage Basket</h2>
                  <p class="modal-card-paragraph">Plant</p>
                  <picture class="img-clean">
                     <source srcset="./img/modal-window/cabbage@1x.png 1x, /img/modal-window/cabbage@2x.png 2x"
                        media="(min-width: 768px)">
                     <source srcset="./img/modal-window/cabbage@1x.png 1x, /img/modal-window/cabbage@2x.png 2x"
                        media="(max-width: 767px)">
                     <img class="img-clean modal-img" src="./img/modal-window/cabbage.png" alt="cabbage">
                  </picture>
                  <div class="checkbox-container">
                     <input class="modal-input" type="checkbox" id="checkbox-cabbage" name="cabbage" value="true">
                     <label class="modal-checkbox-label" for="checkbox-cabbage">
                        <span class="modal-checkbox-custom">
                           <svg class="checkbox-custom-icon" width="8" height="8">
                              <use href="./img/sprite.svg#icon-checkbox"></use>
                           </svg>
                        </span>
                     </label>
                  </div>
               </div>
            </li>
            <li class="modal-card list">
               <div class="modal-item">
                  <h2 class="modal-card-title">Tomato Basket</h2>
                  <p class="modal-card-paragraph">Plant</p>
                  <picture class="img-clean">
                     <source srcset="./img/modal-window/tomato@1x.png 1x, /img/modal-window/tomato@2x.png 2x"
                        media="(min-width: 768px)">
                     <source srcset="./img/modal-window/tomato@1x.png 1x, /img/modal-window/tomato@2x.png 2x"
                        media="(max-width: 767px)">
                     <img class="img-clean modal-img" src="./img/modal-window/tomato.png" alt="tomato">
                  </picture>
                  <div class="checkbox-container">
                     <input class="modal-input" type="checkbox" id="checkbox-tomato" name="tomato" value="true">
                     <label class="modal-checkbox-label" for="checkbox-tomato">
                        <span class="modal-checkbox-custom">
                           <svg class="checkbox-custom-icon" width="8" height="8">
                              <use href="./img/sprite.svg#icon-checkbox"></use>
                           </svg>
                        </span>
                     </label>
                  </div>
               </div>
            </li>
            <li class="modal-card list">
               <div class="modal-item">
                  <h2 class="modal-card-title">Vegetables Basket</h2>
                  <p class="modal-card-paragraph">Plant</p>
                  <picture class="img-clean">
                     <source srcset="./img/modal-window/vegetables@1x.png 1x, /img/modal-window/vegetables@2x.png 2x"
                        media="(min-width: 768px)">
                     <source srcset="./img/modal-window/vegetables@1x.png 1x, /img/modal-window/vegetables@2x.png 2x"
                        media="(max-width: 767px)">
                     <img class="img-clean modal-img" src="./img/modal-window/vegetables.png" alt="vegetables">
                  </picture>
                  <div class="checkbox-container">
                     <input class="modal-input" type="checkbox" id="checkbox-vegetables" name="vegetables" value="true">
                     <label class="modal-checkbox-label" for="checkbox-vegetables">
                        <span class="modal-checkbox-custom">
                           <svg class="checkbox-custom-icon" width="8" height="8">
                              <use href="./img/sprite.svg#icon-checkbox"></use>
                           </svg>
                        </span>
                     </label>
                  </div>
               </div>
            </li>
         </ul>
      </div>
      <!--Modal form-->
      <div class="modal-form">
         <div class="form-wrap-container">
            <form class="form" autocomplete="off">
               <!--Name-->
               <div class="form-wrap">
                  <div class="wrap-user">
                     <input type="text" name="user-name" class="input-form" placeholder="Enter full name..."
                        maxlength="22" pattern="\w{3,16}" id="user-name" required>
                  </div>
               </div>
               <!--Email-->
               <div class="form-wrap">
                  <div class="wrap-user">
                     <input type="email" name="text" class="input-form" placeholder="Enter Email.." maxlength="40"
                        pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" id="email" required>
                  </div>
               </div>
               <!--Card-->
               <div class="form-wrap">
                  <div class="wrap-user">
                     <input type="text" name="user-name" class="input-form" maxlength="30" pattern="[0-9]+"
                        placeholder="Enter card..." id="card" required>
                  </div>
               </div>
               <!--Comments-->
               <div class="wrap-user-comment">
                  <textarea class="textarea-form" name="user-comment" placeholder="Enter comments..."
                     id="user-comment"></textarea>
               </div>
               <!--Button-->
               <button class="btn-form" type="submit">Submit</button>
            </form>
         </div>
         <div class="modal-girl-pack"><img class="modal-girl" src="./img/modal-window/modal-girl@1x.png" alt="girl">
         </div>
      </div>
      <button type="button" class="modal-btn" data-modal-close="">
         <svg class="svg-close-btn" width="28" height="28">
            <use href="./img/sprite.svg#icon-close"></use>
         </svg>
      </button>
   </div>
</div>