<section class="callback-container container" id="callback-container">
  <div class="left-column">
    <h2 class="callback-h2">Fresh Harvest Box has got you covered</h2>
    <p class="callback-p">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat
      healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
    <form class="callback-form">
      <div class="input-wrapper">
        <label class="callback-label">
          <input name="phone" type="tel" placeholder="+380" pattern="+[0-9]{3}-[0-9]{3}-[0-9]{4}"
            class="callback-label-input" />
        </label>
        <button type="submit" class="recall-btn">Recall</button>
      </div>
    </form>
  </div>
  <div class="right-column">
    <div class="callback-img-bg">
      <picture>
        <source media="(min-width:1280px)" width="525"
          srcset="./img/we-will-call-you/girl-desk.png 1x, ./img/we-will-call-you/girl-desk@2x.png 2x" />
        <source media="(min-width:768px)" width="629"
          srcset="./img/we-will-call-you/girl-tab.png 1x, ./img/we-will-call-you/girl-tab@2x.png 2x" />
        <source media="(max-width:767px)" width="335"
          srcset="./img/we-will-call-you/girl.png 1x, ./img/we-will-call-you/girl@2x.png 2x" />
        <img class="callback-img" alt="Women holding a broccoli" src="./img/we-will-call-you/girl.png">
      </picture>
    </div>
  </div>
</section>