<div class="callback-container">
  <h2 class="callback-h2">Fresh Harvest Box has got you covered</h2>
  <div class="callback-from-container">
    <p class="callback-p">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
    <form class="callback-form">
      <div class="input-wrapper">
        <label class="callback-label">
          <input
            name="phone"
            type="tel"
            placeholder="+380()"
            class="callback-label-input"
            maxlength="13"
          />
        </label>
        <button type="submit" class="recall-btn">Recall</button>
      </div>
    </form>
  </div>
  <div class="callback-img-bg">
      <img class="callback-img" src="../img/we-will-call-you/girl.png" alt="Women holding a broccoli" width="335">
  </div>
</div>